<a href="{{item.link}}" class="manual__preview">
  <div class="manual__thumb"
    style="background-image:url({{item.thumb}})">
    <div class="manual__thumb__blur"></div>
  </div>
  <h3 class="manual__title">{{ item.title }}</h3>
  <p class="manual__date">{{ item.date }}</p>
</a>
