<div class="related__floating">
  <p class="floating__title">{{ relatedTitle }}</p>
  <div class="related__body">
    <div class="related__thumb"
      style="background-image:url({{article.thumb}})"></div>
    <p class="related__title">{{ article.title }}</p>
    <p class="related__author">{{ article.author }}</p>
  </div>
</div>
