.header {
  background-color: $grayLight;
  color: $grayish;

  .logo {
    .logo__image {
      width: 100%;
      max-width: 180px;
    }
  }

  .auth {
    .auth__link {}
  }

  @import './primary';
  @import './secondary';
  @import './socials';
  @import './categories';
}
