* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontPrimary;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0,
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color .3s ease-out;

  &:hover {
    color: $rouge;
  }
}

button,
a,
input,
textarea {
  outline: none;
  font-family: $fontPrimary;
}

body.lock {
  height: 100vh;
  overflow: hidden;

  @include tabletPortrait {
    height: auto;
    min-height: 100vh;
    overflow: auto;
  }

  @include mobile {
    height: auto;
    min-height: 100vh;
    overflow: auto;
  }
}
