.layout {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $grayLight;
}

.header,
.footer {
  flex: 0 0 auto;
  z-index: 1;
}

.content {
  flex: 1 1 auto;
}

.header {
  ~ .content {
    @include mobile {
      margin-top: 74px!important;
    }
  }
}

.container {
  position: relative;
  max-width: $widthDesktop + $paddingDesktop * 2;
  margin: 0 auto;
  padding: 0 $paddingDesktop;

  @include tablet {
    max-width: 100%;
    padding: 0 $paddingTablet;
  }

  @include mobile {
    max-width: 100%;
    padding: 0 $paddingMobile;
  }
}

.lock .content {
  @include tabletPortrait {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
