// dimentions
$widthDesktop: 1050px;

$paddingMobile: 20px;
$paddingTablet: 40px;
$paddingDesktop: 60px;

// media

$mobileWidth: 767px;
$tabletWidth: 1024px;

// fonts
$fontStack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontPrimary: 'Avenir Next', $fontStack; // TODO: replace with real fonts
$fontSecondary: 'Roboto', $fontStack; // TODO: replace with real fonts
