{% set forms = {
  signUp: {
    fields: [
      {
        id: 'signin-email',
        name: 'email',
        placeholder: 'Email',
        type: 'email'
      },
      {
        id: 'signin-password',
        name: 'password',
        placeholder: 'Create password',
        type: 'password'
      },
      {
        id: 'signin-confirm',
        name: 'confirm',
        placeholder: 'Confirm password',
        type: 'password'
      }
    ],
    submit: 'Sign In'
  },
  signIn: {
    fields: [
      {
        id: 'signup-email',
        name: 'email',
        placeholder: 'Email',
        type: 'email'
      },
      {
        id: 'signup-password',
        name: 'password',
        placeholder: 'Password',
        type: 'password'
      }
    ],
    submit: 'Sign Up'
  }
} %}

{% set tabs = [
  {
    name: 'Sign Up',
    content: forms.signUp
  },
  {
    name: 'Sign In',
    content: forms.signIn
  }
] %}

{% set socialAuth = {
  heading: 'or',
  buttons: [
    {
      icon: 'facebook',
      text: 'sign up with facebook'
    },
    {
      icon: 'vk',
      text: 'sign up with vkontakte'
    }
  ]
} %}

{% macro renderForm(form) %}
  {% include './form.njk' %}
{% endmacro %}

{% macro renderTabs(tabs) %}
  {% include './tab-controls.njk' %}
{% endmacro %}

{% macro renderContainers(tabs) %}
  {% include './tab-containers.njk' %}
{% endmacro %}

{% macro renderSocialAuth(auth) %}
  {% include './social-auth.njk' %}
{% endmacro %}

{% macro renderAuth() %}
  {% include './auth.njk' %}
{% endmacro %}

{% macro renderPopup(children) %}
  {% include '../popup.njk' %}
{% endmacro %}

{{ renderPopup(renderAuth()) }}





