.manual__header {
  padding: 40px 0;
  background-color: $grayishBrown;
  color: $grayLight;
}

.manual__title {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: normal;
}

.manual__date {
  opacity: .5;
  font-size: 12px;
}
