.header {
  background-color: $grayLight;
  color: $grayish;

  .h--primary {
    padding: 40px 0;

    .h--primary__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }

    .h--primary__item {
      flex: 1 1 33.3%;
      overflow: hidden;
      text-align: center;

      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  .h--secondary {
    padding: 30px 0;
    background-color: $grayMedium;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;

    .h--secondary__wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    .h--secondary__item {
      flex: 1 1 auto;
    }

    .h--secondary__item--fixed {
      flex: 0 0 auto;
    }
  }

  .socials {
    .socials__item {
      margin: 0 30px 0 0;
      font-size: 20px;
    }
    .socials__link {}
  }

  .logo {
    .logo__image {
      width: 100%;
      max-width: 180px;
    }
  }

  .auth {
    .auth__link {}
  }

  .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    overflow: hidden;
    color: $grayishBrown;

    .categories__item {}

    .categories__link {}
  }
}
