.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;

  &.js-active {
    .s__toggler:first-child {
      color: $grayishBrown;
    }

    .input--search {
      display: flex;
    }
  }

  .s__toggler {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      transition: color .3s ease-out;
    }

    &:hover {
      .icon {
        color: $grayishBrown;
      }
    }
  }

  .input--search {
    flex: 1 1 auto;

    display: none;
    justify-content: flex-start;
    align-items: stretch;

    .input--search__field {
      flex: 1 1 auto;
      background-color: transparent;
      border: none;
      color: $grayishBrown;
      caret-color: $grayish;

      &::placeholder {
        color: $grayish;
      }
    }
  }
}
