{% set share = [
  {
    icon: 'facebook',
    link: '#facebook'
  },
  {
    icon: 'twitter',
    link: '#twitter'
  },
  {
    icon: 'google',
    link: '#google'
  },
  {
    icon: 'vk',
    link: '#vk'
  }
] %}

<ul class="share share--floating">
  {% for item in share %}
    <li class="share__item">
      <a href={{item.link}} target="_blank" class="share__link">
        <i class="icon icon-{{item.icon}}"></i>
      </a>
      <div class="share__description">
        <span>share on {{item.icon}}</span>
      </div>
    </li>
  {% endfor %}
</ul>
