.accent {
  color: $rouge;
}

.regular {
  color: $grayishBrown;
}

.secondary {
  color: $grayish;
}

.bold {
  font-weight: bold;
}

.cursive {
  font-style: italic;
}

.reference {
  margin: 50px 0 30px;
  color: $grayish;
  font-size: 18px;
  line-height: 1;

  p {
    margin: 0;
  }

  .reference-title {
    font-style: italic;
  }
}
