.article__wrapper {
  color: $grayishBrown;
  @include mobile {
    padding: 20px 0 0;
  }

  @import './common';
  @import './typography';
  @import './media';
  @import './quote';
  @import './carousel';

  h1, h2, h3, h4, h5, h6, p, span {
    @include mobile {
      padding: 0 20px;
    }
  }
}
