.share--floating {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  color: $grayish;

  .share__item {
    position: relative;
    display: block;

    &:hover {
      .share__description {
        // hack to avoid non-numeric auto and positioning
        max-width: 150px;
      }
    }
  }

  .share__description {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    max-width: 0;
    overflow: hidden;
    margin: 0 0 0 -20px;

    border-radius: 15px;

    background-color: $rouge;
    color: $white;

    transition: all .3s ease-out;

    & > span {
      display: inline-block;
      margin: 5px 10px 5px 30px;
      white-space: nowrap;
      font-size: 12px;
      line-height: 1;
    }
  }

  .share__link {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    margin: 0 0 10px;

    border-radius: 50%;
    box-shadow: 0px 2px 6px 0px rgba($black, .1);
    background-color: $white;
  }
}
