{% extends "layouts/default.njk" %}

{% block content %}
  <div class="layout">
    {% include "includes/header/index.njk" %}
    {% include "includes/content.njk" %}
    {% include "includes/footer/index.njk" %}
  </div>
{% endblock %}
