{% extends "layouts/default.njk" %}

{% block content %}
  <div class="layout">
    {% include "includes/header/index.njk" %}
    <div class="content">
      {% block page %}{% endblock %}
    </div>
    {% include "includes/footer/index.njk" %}
  </div>
  {% include "includes/auth/index.njk" %}
{% endblock %}
