{% import "./includes/content/index.njk" as content %}

{% extends "index.njk" %}

{% block page %}
  <!-- {{ content.render(content.manual, 'manual') }} -->
  {{ content.renderManual() }}
{% endblock %}
