<a href="{{item.link}}" class="article__preview">
  <div class="article__thumb"
    style="background-image:url({{item.thumb}})">
    <div class="article__thumb__blur"></div>
  </div>
  <div class="article__info">
    <div class="article__heading">
      <p class="article__category">{{ item.category }}</p>
      {% include './article-stat.njk' %}
    </div>
    <p class="article__title">{{ item.name }}</p>
    <p class="article__description">{{ item.description }}</p>
  </div>
  <div class="article__credentials">
    <span>{{ item.author }} {{ item.date }}</span>
  </div>
</a>
