<div class="container articles__list">
  <ul class="articles__grid">
    {% for item in list %}

      <li class="grid__item">
        {% include './article-preview.njk' %}
      </li>

    {% endfor %}
  </ul>
</div>
