.article__description {
  margin: 10px 0 0;
  max-height: 60px; // 3 lines
  overflow: hidden;
  color: $grayishBrown;
  font-size: 14px;
  line-height: 1.4;
  transition: max-height .3s ease-out, opacity .3s ease-out;
}

@mixin description--visible {
  max-height: 60px; // 3 lines
  opacity: 1;
}

@mixin description--hidden {
  max-height: 0;
  opacity: 0;
}
