.articles__list {
  @import './grid';
  @import './preview';
  @import './info';
  @import './heading';
  @import './category';
  @import './title';
  @import './description';
  @import './credentials';
  @import './stat';

  @include mobile {
    padding: 0;
  }

  @include desktop {
    .grid__item:nth-child(5n-4) {
      flex: 0 0 66.6%;

      .article__preview {
        font-size: 36px;
        @include preview--blurred;
        @include info--large;

        .article__description {
          @include description--hidden;
        }

        .article__credentials {
          @include credentials--large;
          @include credentials--hidden;
        }

        .article__stat {
          @include stat--hidden;
        }

        &:hover {
          .article__description {
            @include description--visible;
          }

          .article__credentials {
            @include credentials--visible;
          }

          .article__stat {
            @include stat--visible;
          }
        }
      }
    }

    .grid__item:nth-child(5n-3) {
      .article__preview {
        font-size: 24px;
        @include preview--blurred;
        @include info--medium;

        .article__description {
          @include description--hidden;
        }

        .article__credentials {
          @include credentials--medium;
          @include credentials--hidden;
        }

        .article__stat {
          @include stat--hidden;
        }

        &:hover {
          .article__description {
            @include description--visible;
          }

          .article__credentials {
            @include credentials--visible;
          }

          .article__stat {
            @include stat--visible;
          }
        }
      }
    }

    .grid__item:nth-child(5n-2),
    .grid__item:nth-child(5n-1),
    .grid__item:nth-child(5n-0) {
      .article__preview {
        font-size: 18px;
        @include preview--regular;
        @include info--small;

        .article__credentials {
          @include credentials--small;
        }
      }
    }
  }

  @include tablet {

    .grid__item:nth-child(5n-4) {
      flex: 0 0 100%;

      .article__preview {
        @include preview--blurred;
        @include info--large;

        .article__description {
          @include description--hidden;
        }

        .article__credentials {
          @include credentials--large;
          @include credentials--hidden;
        }

        .article__stat {
          @include stat--hidden;
        }

        &:hover {
          .article__description {
            @include description--visible;
          }

          .article__credentials {
            @include credentials--visible;
          }

          .article__stat {
            @include stat--visible;
          }
        }
      }
    }

    .grid__item:nth-child(5n-3),
    .grid__item:nth-child(5n-2),
    .grid__item:nth-child(5n-1),
    .grid__item:nth-child(5n-0) {
      flex: 0 0 50%;

      .article__preview {
        @include preview--regular;
        @include info--small;

        .article__credentials {
          @include credentials--small;
        }
      }
    }
  }
}
