.share--horizontal {
  margin: 0 0 60px;

  @include mobile {
    margin: 0 20px 60px;
  }

  .share__item {
    display: inline-block;
    margin: 0 4px 24px 0;
    box-shadow: 0 0 6px 0 rgba($black, .2);

    &:last-child {
      margin: 0;
    }

    @include mobile {
      margin: 0 40px 24px 0;
    }
  }

  .share__link {
    color: $grayLight;
  }

  .share__icon {
    @extend .icon;
    @extend .icon--square;
  }

  .share__description {
    display: none;
  }
}
