<li class="manual__block"
  id="{{ block.title | replace(' ', '') | lower }}">

  <div class="block__counter">{{ loop.index }}</div>
  <div class="block__title">
    {{ block.title }}
  </div>
  <div class="block__content">
    {% include block.content %}
  </div>

</li>
