<li
  id="{{ block.title | replace(' ', '') | lower }}"
  class="manual__block">
  <div class="block__counter">{{ loop.index }}</div>
  <div class="block__title">
    {{ block.title }}
  </div>
  <div class="block__content">
    {% include block.content %}
  </div>
</li>
