<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae amet blanditiis, porro architecto sapiente est neque odit quaerat suscipit in consectetur facere culpa, error necessitatibus, nemo praesentium! Officiis, odio, minus!</p>
<img src='images/article-thumb.jpg' alt='block image'>
