{% import "../share/index.njk" as share %}
{% import "../tags/index.njk" as tags %}
{% import "../related/index.njk" as related %}
{% import "../related-floating/index.njk" as relatedFloating %}
{% import "../comments/index.njk" as comments %}

<div class="content content__common">

  {% if type === 'manual' %}
    {% include "./manual-header.njk" %}
  {% else %}
    {% include "./article-header.njk" %}
  {% endif %}

  <div class="container grid">
    {% if type === 'manual' %}
      {% include "./manual-background.njk" %}
    {% endif %}

    <div class="grid__item grid__item--fixed">
      {{ share.render(share.shareList, 'vertical') }}
    </div>

    <div class="grid__item">

      {% if type === 'manual' %}
        <ul class="content__wrapper">
          {% for block in item.blocks %}
            {% include "./manual-block.njk" %}
          {% endfor %}
        </ul>
      {% else %}
        <div class="article__wrapper">
          {% include "./article-test.njk" %}
        </div>
      {% endif %}

      {% if item.tags %}
        {{ tags.render(item.tags) }}
      {% endif %}

      {{ share.render(share.shareList, 'horizontal') }}

    </div>

    <div class="grid__item grid__item--fixed">

      {% if type === 'manual' %}
        {% include "./manual-side-nav.njk" %}
      {% else %}
        {{ addAdvert() }}
        {{ relatedFloating.render(item.related[0]) }}
        <div class="js-slider-nav"></div>
      {% endif %}

    </div>
  </div>

  <div class="container">

    {% if item.related %}
      {{ related.render(item.related) }}
    {% endif %}

    {% if type !== 'manual' %}
      <div class="grid">
        <div class="grid__item">

          {{ comments.renderCommentsBlock(comments.commentsList) }}

        </div>
        <div class="grid__item grid__item--fixed">
          {{ addAdvert() }}
        </div>
      </div>
    {% endif %}

</div>
