{% set navigation = [
  {
    name: 'about the project',
    link: '#about'
  },
  {
    name: 'contacts',
    link: '#contacts'
  },
  {
    name: 'terms and conditions',
    link: '#terms-and-conditions'
  },
  {
    name: 'privacy policy',
    link: '#privacy-policy'
  },
  {
    name: 'press kit',
    link: '#presskit'
  }
] %}

<ul class="navigation footer__item">
  {% for item in navigation %}

    <li class="navigation__item">
      <a href={{item.link}} class="navigation__link">{{item.name}}</a>
    </li>

  {% endfor %}
</ul>
