<ul class="navigation footer__item">
  {% for item in navigation %}

    <li class="navigation__item">
      <a href={{item.link}} class="navigation__link">{{item.name}}</a>
    </li>

  {% endfor %}
</ul>
