.related__item {
  flex: 0 0 auto;

  @include mobile {
    width: 100%
  }
}

.related__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  width: 100%;
  height: 100%;
  margin: 0 15px;
  padding: 0 0 30px;
  overflow: hidden;
  color: $grayish;

  &:hover {
    color: $rouge;
  }

  @include desktop {
    width: 240px;
  }

  @include tablet {
    width: 150px;
  }

  @include mobile {
    margin: 0;
  }
}

.related__thumb {
  height: 120px;
  background-size: cover;
  background-position: center center;

  @include desktop {
    height: 140px;
  }

  @include tablet {
    height: 100px;
  }
}

.related__title {
  padding: 10px 0 0;
  font-size: 14px;
}

.related__credentials {
  padding: 10px 0 0;
  text-transform: uppercase;
  font-size: 8px;
}
