.grid {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-top: 40px;

  @include mobile {
    padding: 0;
  }
}

.grid__item {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
  @include desktop {
    padding: 0 30px;
  }
}

.grid__item--fixed {
  flex: 0 0 auto;
  overflow: visible;
}
