.content.content__common {
  @import './grid';
  @import './manual-header';
  @import './article-header';
  @import './manual-background';
  @import './manual-side-nav';
  @import './manual-block';

  position: relative;
  background-color: $grayLight;

  .content__wrapper {
    padding: 0 0 40px;
  }

  .content__ad {
    width: 240px;
    height: 360px;
    margin: 0 0 0 30px;
    border: 1px solid rgba($black, .4);
    background-color: rgba($black, .3);

    @include tabletPortrait {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}
