.manual__background {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  height: 100%;
  max-height: 600px;

  background-size: cover;
  background-position: center center;

  @include desktop {
    display: block;
  }
}

.manual__blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, rgba($grayLight, .9) 40%, rgba($grayLight, 1) 70%);
}
