.auth-social {

  .auth-social__heading {
    margin: 0 auto 20px;
    text-align: center;
  }

  .auth-social__button {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 8px 30px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    line-height: 1;

    &.button-facebook {
      background-color: #3b5998;
    }

    &.button-vk {
      background-color: #507299;
    }

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
    }

    span {
      display: block;
      margin: 4px auto 0;
    }
  }
}
