<li class="related__item">
  <a href="{{item.link}}" class="related__link">
    <div>
      <div class="related__thumb"
        style="background-image:url({{item.thumb}})"></div>
      <p class="related__title">{{ item.title }}</p>
    </div>
    <p class="related__credentials">{{ item.author }}  {{ item.date }}</p>
  </a>
</li>
