.manuals__list {
  @import './grid';
  @import './manual-preview';

  @include desktop {
    .grid__item:nth-child(16n-15),
    .grid__item:nth-child(16n-6) {
      flex: 0 0 66.6%;

      .manual__preview {
        height: 430px;
      }

      .manual__title {
        font-size: 32px;
      }

      .manual__date {
        bottom: 50px;
      }
    }

    .grid__item:nth-child(16n-14),
    .grid__item:nth-child(16n-7) {

      .manual__preview {
        height: 430px;
      }

      .manual__date {
        bottom: 50px;
      }
    }

    .grid__item {
      font-size: 20px;

      .manual__preview {
        height: 200px;
      }
    }
  }

  @include tablet {
    .grid__item:nth-child(7n-6) {
      flex: 0 0 100%;

      .manual__preview {
        height: 430px;
      }

      .manual__title {
        font-size: 32px;
      }
    }

    .grid__item{
      flex: 0 0 50%;

      .manual__preview {
        height: 200px;
      }
    }
  }

  @include mobile {
    padding: 0;
  }
}
