<header class="header">
  <div class="primary">
    <div class="container">
      <h2>Primary</h2>
    </div>
  </div>
  <div class="secondary">
    <div class="container">
      <h2>Secondary</h2>
    </div>
  </div>
</header>
