<div class="auth h--primary__item">
  {% if auth.loggedIn %}
    <a href="#" class="auth__link">{{auth.signOut}}</a>
  {% else %}
    <a class="auth__link js-auth">{{auth.signIn}}</a>
    <a class="auth__toggler js-auth">
      <i class="icon icon-close"></i>
    </a>
  {% endif %}
</div>
