<ul class="categories h--secondary__item js-categories">
  {% for category in categories %}
    <li class="categories__item">
      <a href={{category.link}} class="categories__link">{{category.name}}</a>
    </li>
  {% endfor %}
</ul>
