{% set logo = 'images/logo.svg' %}

{% set categories = [
  {
    name: 'События',
    link: '#events'
  },
  {
    name: 'Явления',
    link: '#happenings'
  },
  {
    name: 'Люди',
    link: '#people'
  },
  {
    name: 'Пространства',
    link: '#places'
  },
  {
    name: 'Мануалы',
    link: '#manuals'
  }
] %}

{% set auth = {
  signIn: 'Войти',
  signOut: 'Выйти',
  loggedIn: false
} %}

{% set search = 'Search...' %}

<header class="header js-header">
  {% include "./primary.njk" %}
  {% include "./secondary.njk" %}
</header>
