<div class="search-bar js-search">
  <a class="s__toggler h--secondary__item--fixed js-toggler">
    <i class="icon icon-search"></i>
  </a>
  <div class="input--search">
    <input type="text" placeholder="{{search}}" class="input--search__field js-input" />
    <a class="s__toggler h--secondary__item--fixed js-toggler">
      <i class="icon icon-close"></i>
    </a>
  </div>
</div>
