{% set categories = [
  {
    name: 'events',
    link: '#events'
  },
  {
    name: 'happenings',
    link: '#happenings'
  },
  {
    name: 'people',
    link: '#people'
  },
  {
    name: 'places',
    link: '#places'
  },
  {
    name: 'manuals',
    link: '#manuals'
  }
] %}

<div class="h--secondary">
  <div class="container h--secondary__wrapper js-blog-nav">
    {% include "./categories.njk" %}
    {% include "./search.njk" %}
  </div>
</div>
