{% set categories = [
  {
    name: 'events',
    link: '#events'
  },
  {
    name: 'happenings',
    link: '#happenings'
  },
  {
    name: 'people',
    link: '#people'
  },
  {
    name: 'places',
    link: '#places'
  },
  {
    name: 'manuals',
    link: '#manuals'
  }
] %}

<div class="secondary">
  <div class="container wrapper">
    {% block content %}
      {% include "./categories.njk" %}
    {% endblock %}
    {% include "./search.njk" %}
  </div>
</div>
