<div class="h--secondary">
  <div class="container h--secondary__wrapper js-blog-nav">
    <div class="logo h--secondary__item h--secondary__item--fixed">
      <img src={{logo}} class="logo__image">
    </div>
    {% include "./categories.njk" %}
    {% include "./search.njk" %}
  </div>
</div>
