{% set socials = [
  {
    icon: 'facebook',
    link: '#facebook'
  },
  {
    icon: 'twitter',
    link: '#twitter'
  },
  {
    icon: 'google',
    link: '#google'
  },
  {
    icon: 'instagram',
    link: '#instagram'
  },
  {
    icon: 'vk',
    link: '#vk'
  }
] %}

<div class="h--primary__item">
  <ul class="socials">
    {% for social in socials %}
      <li class="socials__item">
        <a href={{social.link}} target="_blank" class="socials__link">
          <i class="icon icon-{{social.icon}}"></i>
        {{social.name}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
